@model Vidly.Models.Movies
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





<h2>New Movie</h2>

@using (Html.BeginForm("Create", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

  

    <div class="form-group">
        @Html.LabelFor(m => m.Stock)

        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Release_date)

        @Html.TextBoxFor(m => m.Release_date, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Date_added)

        @Html.TextBoxFor(m => m.Date_added,new { @class = "form-control" })
    </div>


    <select class="form-control" id="Genre" name="Genre">
        <option>Select Genre</option>
        <option>Action</option>
        <option>Thriller</option>
        <option>Drama</option>
        <option>Romance</option>
        <option>Comedy</option>
    </select>
    <button type="submit" class="btn btn-primary">Create Customer</button>
}